.App {
  /* background: #0b0e11; */
  /* height: 100%;
  width: 100%;
  position: fixed;
  display: table; */
  /* left: 0;
  top: 0; */
}

.tabs {
  /* background-color: white;
  padding: 16px;
  justify-content: center;
  border-radius: 10px;
  width: 90%;
  top: 25%;
  position: absolute;
  text-align: center; */
}

.historyForm {
  width: 60%;
}

.antd-checkbox-group-item {
  display: block;
  margin-right: 0;
}

.antd-checkbox-group {
  display: inline-block;
}
